uvicorn
fastapi
mysqlclient
sqlalchemy
email-validator
python-dotenv
python-jose
cryptography
bcrypt
passlib
python-multipart
gunicorn
sqlalchemy-seed
websockets
requests
beautifulsoup4
lxml
graphene
graphene_sqlalchemy
